.todo {
  width: 100%;
  height: 100%;
  min-height: 75.5vh;
  text-align: center;
  background-color: rgba(200, 200, 200, 0.3);
  padding: 100px 0;

  h4 {
    font-size: 100px;
    color: red;
    font-weight: 100;
    font-family: 'Montserrat', sans-serif;
    margin: 0 0 20px 0;
    opacity: 0.3;

  }

  .create-item {
    width: 600px;
    margin: auto;
    text-align: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);

    input {
      width: 600px;
      background-color: #FFFFFF;
      padding: 16px 16px 16px 60px;
      outline: none;
      border: none;
      font-size: 24px;
      box-sizing: border-box;
      font-family: 'Montserrat', sans-serif;


      &::placeholder {
        font-family: 'Montserrat', sans-serif;
        font-weight: 200;
        font-style: italic;
        opacity: 0.5;
      }
    }

    .list {
      width: 600px;
      box-sizing: border-box;
      text-align: left;
      padding: 10px 0;
      margin: auto;
      display: flex;
      background-color: #FFFFFF;
      box-shadow: 0 9px 12px 4px rgba(0, 0, 0, 0.15);
      border-top: 1px solid #E0E0E0;

      &:hover {
        .close {
          position: relative;
          right: 25px;
          top: 8px;
          width: 32px;
          height: 32px;
          opacity: 0.3;
        }
        .close:hover {
          opacity: 1;
        }
        .close:before, .close:after {
          position: absolute;
          left: 15px;
          content: ' ';
          height: 25px;
          width: 2px;
          background-color: red;
        }
        .close:before {
          transform: rotate(45deg);
        }
        .close:after {
          transform: rotate(-45deg);
        }
      }

      input[type="checkbox"] {
        position: relative;
        padding: 15px;
        width: 20px;
        height: 20px;
        color: black;
        border: 1px solid gray;
        border-radius: 20px;
        appearance: none;
        outline: none;
        transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);

        &::before {
          position: absolute;
          content: '';
          display: block;
          top: 4px;
          left: 10px;
          width: 8px;
          height: 14px;
          border-style: solid;
          border-color: green;
          border-width: 0 2px 2px 0;
          transform: rotate(45deg);
          opacity: 0;
        }

        &:checked {

          text-decoration: line-through;

          &::before {
            opacity: 1;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          }
        }

        &:checked + label {
          text-decoration: line-through;
          opacity: 0.5;
        }
      }

      label {
        font-size: 24px;
        width: 100%;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        line-height: 40px;
        pointer-events: none;
      }
    }

    .footer-list {
      border-top: 1px solid #E0E0E0;
      content: '';
      height: 35px;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #FFFFFF, 0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #FFFFFF, 0 17px 2px -6px rgba(0, 0, 0, 0.2);
      background-color: #FFFFFF;

      p {
        margin: 0;
        text-align: left;
        line-height: 35px;
        padding: 0 20px;
        color: gray;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
      }
    }
  }
}
